* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Garet;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app {
  margin-top: 100px;
  margin-bottom: 100px;
}

nav {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  padding-right: 30px;
}
nav .logo img {
  height: 100px;
}
nav .links a {
  text-decoration: none;
  color: #900C3F;
  margin-right: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

#login-button, #logout-button {
  margin-top: 10px;
  width: 200px;
  padding: 5px;
  height: 45px;
  background-color: #900C3F;
  color: white;
}

footer {
  border-top: 2px solid #900C3F;
  height: 100px;
}
footer .footer-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-container .logo {
  padding-right: 30px;
}
footer .footer-container .logo img {
  height: 100px;
}
footer .footer-container .links a {
  text-decoration: none;
  color: #900C3F;
  margin-right: 20px;
  font-size: 20px;
}

.login-page {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 100px;
}
.login-page .sign-in-side, .login-page .login-side {
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
}
.login-page .sign-in-side h3, .login-page .login-side h3 {
  font-size: 34px;
}
.login-page .sign-in-side input, .login-page .login-side input {
  margin-bottom: 20px;
  width: 285px;
  padding: 5px;
}
.login-page .sign-in-side button, .login-page .login-side button {
  width: 150px;
  font-size: 15px;
  margin-left: 135px;
  background-color: black;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile {
  max-width: 80%;
  margin: 0 auto;
}
.profile #name-greeting {
  text-align: center;
  font-size: 34px;
  margin-bottom: 50px;
}
.profile .profile-sections {
  padding-bottom: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.profile .profile-sections h2 {
  font-size: 24px;
}
.profile .profile-sections .account-info, .profile .profile-sections .profile-colleges {
  min-width: 200px;
  margin-bottom: 100px;
}
.profile .profile-sections .account-info div, .profile .profile-sections .profile-colleges div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profile .profile-sections .account-info p {
  padding-left: 20px;
}
.profile .profile-sections h3 {
  font-size: 20px;
}
.profile .profile-sections p {
  font-size: 16px;
}
.profile .profile-sections button {
  width: 150px;
  font-size: 15px;
  margin-left: 135px;
  background-color: black;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}
form input[type=search] {
  width: 300px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}
form input[type=search]::placeholder {
  color: #bbb;
}
form input[type=search]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
form button[type=submit] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}
form button[type=submit]::hover {
  opacity: 1;
}
form button[type=submit]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

.search-section h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 25px;
}

.college-search-page h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 25px;
}

.filter-section {
  width: 300px;
  height: 500px;
}

.search-results-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.search-results-container .filter-section {
  margin-top: 25px;
}
.search-results-container .filter-section h3 {
  margin-top: 25px;
}
.search-results-container .colleges-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 900px;
}
.search-results-container .colleges-container .college-card {
  min-width: 40%;
}
.search-results-container .colleges-container .college-card button {
  background-color: white;
  border-style: none;
}
.search-results-container .colleges-container .college-card button i {
  font-size: 20px;
  padding-bottom: 40px;
}

.colleges-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1100px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
.colleges-container .college-card {
  max-width: 400px;
  height: 400px;
  margin-bottom: 100px;
}
.colleges-container .college-card img {
  height: 230px;
  width: 400px;
}

.dark-button {
  width: 126px;
  min-height: 30px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px;
  margin-right: 10px;
}

.light-button {
  width: 126px;
  height: 30px;
  text-decoration: none;
  padding: 5px;
  color: black;
}

.college-results-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.college-results-section .college-compare-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.college-results-section .college-compare-info #left-name-fav, .college-results-section .college-compare-info #right-name-fav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 75px;
  width: 250px;
}
.college-results-section .college-compare-info #left-name-fav a, .college-results-section .college-compare-info #right-name-fav a {
  padding-bottom: 30px;
  font-size: 20px;
}
.college-results-section h3 {
  text-align: center;
  margin-bottom: 50px;
}
.college-results-section hr {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.college-results-section p {
  text-align: center;
  font-weight: bold;
}

.search-bar-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.search-bar-section .left-search, .search-bar-section .right-search {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.compare-colleges-page h1 {
  text-align: center;
  margin-bottom: 100px;
}

.college-compare-info button {
  background-color: white;
  border-style: none;
}
.college-compare-info button i {
  font-size: 20px;
  padding-bottom: 40px;
}

.ind-college-page {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}
.ind-college-page .college-info-side {
  padding-top: 45px;
}
.ind-college-page .college-info-side div {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ind-college-page .image-name-side {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ind-college-page .image-name-side img {
  width: 400px;
  height: 230px;
}
.ind-college-page .image-name-side .name-button {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ind-college-page .image-name-side .name-button button {
  padding-left: 20px;
  background-color: white;
  border-style: none;
}
.ind-college-page .image-name-side .name-button button i {
  font-size: 20px;
  padding-bottom: 10px;
}

.favorites-header {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
}
.favorites-header h2 {
  text-align: center;
  font-size: 34px;
}
.favorites-header a {
  text-align: center;
  border: 2px solid black;
  color: black;
  width: 150px;
  height: 45px;
  text-decoration: none;
  padding: 10px;
  margin: 0 auto;
}

.add-college-page, .update-college-page {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.add-college-page #header, .update-college-page #header {
  font-size: 34px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}
.add-college-page button, .update-college-page button {
  width: 126px;
  min-height: 30px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px;
  margin-top: 50px;
}
.add-college-page div, .update-college-page div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.add-college-page div input, .update-college-page div input {
  width: 50%;
  height: 30px;
  padding-left: 5px;
}
.add-college-page div select, .update-college-page div select {
  width: 50%;
  height: 30px;
  padding-left: 5px;
}

.logout-page {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}
.logout-page h2 {
  text-align: center;
}

.not-logged-in {
  width: 50%;
  height: 300px;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
}
.not-logged-in a {
  width: 126px;
  min-height: 30px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px;
  margin-top: 50px;
}

.edit-account-page {
  width: 50%;
  margin: 0 auto;
}
.edit-account-page input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-left: 5px;
  height: 30px;
}

/*# sourceMappingURL=styles.css.map */
