.colleges-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap;
    max-width:1100px;
    min-height:500px;
    margin:0 auto;
    margin-top:50px;
    
    .college-card{
        max-width:400px;
        height:400px;
        margin-bottom:100px;

        img{
            height:230px;
            width:400px;
        }


    }
}

.dark-button{
    min-width:126px;
    min-height:30px;
    text-decoration: none;
    color:white;
    background-color: #152238;
    padding:10px;
    margin-right:10px;
    border-radius: 10px;
    border-style: none;
}
.light-button{
    width:126px;
    height:30px;
    text-decoration: none;
    padding:5px;
    color:black;
}