.favorites-header{
    width:500px;
    margin:0 auto;
    margin-bottom:100px;
    text-align: center;

    h2{
        text-align: center;
        font-size: 34px;
        margin-bottom:40px;
    }

    a{
        text-align: center;
        border: 2px solid #152238;
        border-radius: 10px;
        color:#152238;
        width:150px;
        height:45px;
        text-decoration: none;
        padding:10px;
        margin: 0 auto;
       
        
        
        
    }
}