.profile{
    width:80%;
    min-height:20%;
    margin:0 auto;
    .profile-sections{
    
    padding-top:120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    h3{
        font-size:34px;
        
    }

    button{
        width:150px;
        font-size:15px;
        margin-left:135px;
        background-color:black;
        color:white;
        border:none;
        padding-top:10px;
        padding-bottom:10px;
        
    }
    }
}