.not-logged-in{
    width:50%;
    height:300px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    a{
        width:126px;
        min-height:30px;
        text-decoration: none;
        color:white;
        background-color: black;
        padding:5px;
        margin-top:50px;
    }
}